.blue, .green, .red, .yellow {
  background-color: blue; 
  border-radius: 12px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  padding: 15px 30px; 
  transition: 200ms;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  display: inline-block;
}


.blue:disabled, .green:disabled, .red:disabled, .yellow:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.blue .green .yellow .red {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

