.list-container {
    border: solid 2px;
    margin: 5px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.quiz-name {
    font-size: 22px;
    font: bold;
}
.data-list-container {
    padding: 4px;
    font-size: 18px;
    display: inline-block; 
}
.join-btn {
    width:12vw;
    height:8vh;
    align-self: flex-end;
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
}
